@model IEnumerable<SetSail.Models.ContactSocial>

@{
    ViewBag.Title = "ContactSocialIndex";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Contact Social Networks</h2>

<p>
    @Html.ActionLink("Create New", "ContactSocialCreate")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Icon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Icon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "ContactSocialUpdate", new { id=item.Id }) |
            <a href="@Url.Action("ContactSocialDelete","Contact", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
