@model IEnumerable<SetSail.Models.ContactCity>

@{
    ViewBag.Title = "ContactCityIndex";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Contact Cities</h2>

<p>
    @Html.ActionLink("Create New", "ContactCityCreate")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactCountry.Name)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactCountry.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "ContactCityUpdate", new { id=item.Id }) |
            <a href="@Url.Action("ContactCityDelete","Contact", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
