@model IEnumerable<SetSail.Models.ContactCountry>

@{
    ViewBag.Title = "ContactCountryIndex";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Contact Countries</h2>

<p>
    @Html.ActionLink("Create New", "ContactCountryCreate")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "ContactCountryUpdate", new { id=item.Id }) |
            <a href="@Url.Action("ContactCountryDelete","Contact", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
