@model IEnumerable<SetSail.Models.DayInclude>

@{
    ViewBag.Title = "DayIncludeIndex";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Tour Day Include</h2>

<p>
    @Html.ActionLink("Create New", "DayIncludeCreate")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Feature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Feature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "DayIncludeUpdate", new { id=item.Id }) |
            <a href="@Url.Action("DayIncludeDelete","Tour", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
