@model IEnumerable<SetSail.Models.Destination>

@{
    ViewBag.Title = "DestinationIndex";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Destinations</h2>

<p>
    @Html.ActionLink("Create New", "DestinationCreate")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BgImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SliderImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pic1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pic2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MunText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pic3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pic4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pic5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pic6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Uploads/@item.BgImage" alt="@item.BgImage" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.SliderImage" alt="@item.SliderImage" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @(item.Text1.Length > 100 ? item.Text1.Substring(0, 100) + "..." : item.Text1)
        </td>
        <td>
            <img src="~/Uploads/@item.Pic1" alt="@item.Pic1" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.Pic2" alt="@item.Pic2" height="100" />
        </td>
        <td>
            @(item.Text2.Length > 100 ? item.Text2.Substring(0, 100) + "..." : item.Text2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @(item.MunText.Length > 100 ? item.MunText.Substring(0, 100) + "..." : item.MunText)
        </td>
        <td>
            <img src="~/Uploads/@item.Pic3" alt="@item.Pic3" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.Pic4" alt="@item.Pic4" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.Pic5" alt="@item.Pic5" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.Pic6" alt="@item.Pic6" height="100" />
        </td>
        <td>
            @(item.Video.Length > 100 ? item.Video.Substring(0, 100) + "..." : item.Video)
        </td>
        <td>
            @Html.ActionLink("Edit", "DestinationUpdate", new { id=item.Id }) |
            <a href="@Url.Action("DestinationDelete","Tour", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
