@model SetSail.ViewModels.VmExotic
@{
    ViewBag.Title = "Exotic";
}
<section id="intro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="introCarousel">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="sliderWrapper">
                                <div class="imageWrapper">
                                    <img class="img1" src="~/Uploads/@Model.ExoticPage.IntroImage1" alt="img1">
                                </div>
                                <div class="textWrapper">
                                    <div class="upperTitle">
                                        <h3 class="satisfy">
                                            @Model.ExoticPage.TopTitle1
                                        </h3>
                                    </div>
                                    <div class="title">
                                        <h1 class="bigTitle">
                                            @Model.ExoticPage.Title1
                                        </h1>
                                    </div>
                                    <div class="text">
                                        <h5 class="textContent">
                                            @Model.ExoticPage.introText1
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="sliderWrapper">
                                <div class="imageWrapper">
                                    <img class="img2" src="~/Uploads/@Model.ExoticPage.IntroImage2" alt="img1">
                                </div>
                                <div class="textWrapper">
                                    <div class="upperTitle">
                                        <h3 class="satisfy">
                                            @Model.ExoticPage.TopTitle2
                                        </h3>
                                    </div>
                                    <div class="title">
                                        <h1 class="bigTitle">
                                            @Model.ExoticPage.Title2
                                        </h1>
                                    </div>
                                    <div class="text">
                                        <h5 class="textContent">
                                            @Model.ExoticPage.introText2
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="DestinationsExotic">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="slogan">
                    <div class="textWrapper">
                        <div class="upperTitle">
                            <h3>
                                Choose Your
                            </h3>
                        </div>
                        <div class="title">
                            <h1>
                                Exotic Vacation
                            </h1>
                        </div>
                        <div class="text">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap">
                @foreach (var tour in Model.Tours.Where(t=>t.TourCategory.Name == "Exotic"))
                {
                    foreach (var des in Model.Destinations.Where(d=>d.Id==tour.TourCity.DestinationId).ToList())
                    {
                        <div class="col-lg-4">
                            <div class="destination">
                                <div class="img">
                                    <a href="@Url.Action("DestinationDetails","Tour", new {id=des.Id })"><img src="~/Uploads/@des.Pic6" alt=""></a>
                                </div>
                                <a href="@Url.Action("DestinationDetails","Tour", new {id=des.Id })" class="dark"></a>
                                <div class="name">
                                    <a href="@Url.Action("DestinationDetails","Tour", new {id=des.Id })">
                                        <h5>@des.Name</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</section>

<section id="ToursExotic">
    <div class="container-fluid">
        <div class="row">
            @foreach (var tour in Model.Tours.Where(t => t.TourCategory.Name == "Exotic"))
            {

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="tourCity">
                        <div class="BgImg">
                            <a href="@Url.Action("TourDetailIndex","Tour",new { id=tour.Id})"><img src="~/Uploads/@tour.FrontImage" alt=""></a>
                        </div>
                        <a href="@Url.Action("TourDetailIndex","Tour", new {id=tour.Id })" class="dark"></a>
                        <div class="info">
                            <div class="name">
                                <a href="@Url.Action("TourDetailIndex","Tour",new { id=tour.Id})">
                                    <p>@tour.Name @tour.TourCity.Name</p>
                                </a>
                            </div>
                            <div class="details">
                                <span class="star"><i class="fas fa-star-half-alt"></i></span>
                                <span class="rating">5.0</span>
                                <span class="expression">Good</span>
                                <span class="price">$@tour.Price.ToString("0")</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="ourTeam">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="slogan">
                    <div class="textWrapper">
                        <div class="upperTitle">
                            <h3>
                                Best Exotic
                            </h3>
                        </div>
                        <div class="title">
                            <h1>
                                Travel Experts
                            </h1>
                        </div>
                        <div class="text">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var man in Model.Teams.Where(t => t.Position.Name == "Travel Expert"))
            {
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="team">
                        <div class="img">
                            <img src="~/Uploads/@man.Photo" alt="">
                        </div>
                        <div class="info disappear">
                            <h6>@man.Fullname</h6>
                            <p class="p">@(man.About.Length>50?man.About.Substring(0,50)+"...":man.About)</p>
                            <div class="socials">
                                @foreach (var social in man.TeamSocials.Where(s => s.TeamId == man.Id))
                                {
                                    <a href="@social.Link"><span><i class="fab fa-@social.Icon" aria-hidden="true"></i></span></a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="testmonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="review">
                    <div class="owl-carousel owl-theme">
                        @foreach (var item in Model.Blogs)
                        {
                            <div class="item">
                                <div class="img">
                                    <img src="~/Uploads/@(item.User.Photo!=null?item.User.Photo:"")" alt="">
                                </div>
                                <div class="text">
                                    <p>
                                        @item.Quote
                                    </p>
                                </div>
                                <div class="fullname">
                                    <p>@item.User.Fullname</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

