@model SetSail.Models.Blog
@{
    ViewBag.Title = "Update";
}

<section id="introCreate" style="background-image: url(./img/createBlog/createBG.jpg);">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="slogan">
                    <div class="upperTitle">
                        <h3>
                            Welcome To
                        </h3>
                    </div>
                    <div class="title">
                        <h1>
                            Update Create Page
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="createblog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <a href="@Url.Action("MyPage","Home",new { id=Model.UserId})" style="text-decoration:none; color:#3abdc1; margin-left:15px">Back To My Page</a>
                <form action="@Url.Action("Update","Blog")" enctype="multipart/form-data" method="post" class="blogwrapper">
                    <div class="item">
                        <p>Select Blog Category</p>
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1" name="BlogCategoryId">
                                <option disabled selected value="value">Category</option>
                                @foreach (var item in ViewBag.Categories)
                                {
                                    <option value="@item.Id" @(Model.BlogCategoryId == item.Id ? "selected" : "")>@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <p>Name</p>
                        <div class="edit">
                            <input type="text" placeholder="Name" name="Name">
                        </div>
                    </div>
                    <div class="item">
                        <p>Background Image</p>
                        <div class="detail">
                            <img src="~/Uploads/@Model.BgImage" alt="Alternate Text" height="200" />
                        </div>
                        <div class="edit">
                            <input type="file" class="heit" name="BgImageFile">
                        </div>
                    </div>
                    <div class="item">
                        <p>Main Image</p>
                        <div class="detail">
                            <img src="~/Uploads/@Model.MainImage" alt="Alternate Text" height="200" />
                        </div>
                        <div class="edit">
                            <input type="file" class="heit" name="MainImageFile">
                        </div>
                    </div>
                    <div class="item">
                        <p>Top Text</p>
                        <div class="edit">
                            <textarea type="text" placeholder="Top Text" name="TopText"></textarea>
                        </div>
                    </div>
                    <div class="item">
                        <p>Text 1</p>
                        <div class="edit">
                            <textarea type="text" placeholder="Text 1" name="Text1"></textarea>
                        </div>
                    </div>
                    <div class="item">
                        <p>Quote</p>
                        <div class="edit">
                            <textarea type="text" placeholder="Quote" name="Quote"></textarea>
                        </div>
                    </div>
                    <div class="item">
                        <p>Text 2</p>
                        <div class="edit">
                            <textarea type="text" placeholder="Text 2" name="Text2"></textarea>
                        </div>
                    </div>
                    <div class="item">
                        <p>Image 1</p>
                        <div class="detail">
                            <img src="~/Uploads/@Model.Image1" alt="Alternate Text" height="200" />
                        </div>
                        <div class="edit">
                            <input type="file" class="heit" name="Image1File">
                        </div>
                    </div>
                    <div class="item">
                        <p>Image 2</p>
                        <div class="detail">
                            <img src="~/Uploads/@Model.Image2" alt="Alternate Text" height="200" />
                        </div>
                        <div class="edit">
                            <input type="file" class="heit" name="Image2File">
                        </div>
                    </div>
                    <div class="item">
                        <p>Text 3</p>
                        <div class="edit">
                            <textarea type="text" placeholder="Text 3" name="Text3"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <button type="submit" value="Update">Create Blog</button>
                </form>
            </div>
        </div>
    </div>
</section>

