
@model SetSail.ViewModels.VmLayoutDesLog
@using SetSail.Models;
@{
    User user = (User)(Session["User"]);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Front/css/style.css">
    <title>@ViewBag.Page</title>
</head>

<body>
    <header>
        <section class="commons">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="commonWrapper">
                            <div class="col-lg-8">
                                <div class="leftCommon">
                                    <a href="@Url.Action("Index","Contact")" class="email">
                                        <i class="far fa-envelope"></i>
                                        <span class="email-text">setsail@qode.com</span>
                                    </a>
                                    <a href="@Url.Action("Index","Contact")" class="phone">
                                        <i class="fas fa-phone-alt"></i>
                                        <span class="phone-text">1 562 867 5309</span>
                                    </a>
                                    <a href="@Url.Action("Index","Contact")" class="address">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span class="address-text">Broadway & Morris St, New York</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="rightCommon">
                                    <div class="icons">
                                        <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
                                        <a href="www.pinterest.com"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                        <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="myNavbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navWrapper">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                                    <img src="~/Front/img/logo1.png" alt="logo">
                                </a>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a class="nav-link @(ViewBag.Home!=null?"navActive":"")" href="@Url.Action("Index","Home")">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @(ViewBag.About!=null?"navActive":"")" href="@Url.Action("Index","About")">About Us</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link @(ViewBag.Tour!=null?"navActive":"")" href="#" id="navbarDropdown" role="button"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Tours
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <div class="wrap">
                                                    <a class="dropdown-item @(ViewBag.Summer!=null?"navActive":"")" href="@Url.Action("Summer","Tour")">Summer Tours</a>
                                                </div>
                                                <div class="wrap">
                                                    <a class="dropdown-item @(ViewBag.Winter!=null?"navActive":"")" href="@Url.Action("Winter","Tour")">Winter Tours</a>
                                                </div>
                                                <div class="wrap">
                                                    <a class="dropdown-item @(ViewBag.City!=null?"navActive":"")" href="@Url.Action("City","Tour")">City Tours</a>
                                                </div>
                                                <div class="wrap">
                                                    <a class="dropdown-item @(ViewBag.Wine!=null?"navActive":"")" href="@Url.Action("Wine","Tour")">Wine Tours</a>
                                                </div>
                                                <div class="wrap">
                                                    <a class="dropdown-item @(ViewBag.Exotic!=null?"navActive":"")" href="@Url.Action("Exotic","Tour")">Exotic Tours</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @(ViewBag.Destination!=null?"navActive":"")" href="@Url.Action("Destinations","Tour")">Destinations</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @(ViewBag.Blog!=null?"navActive":"")" href="@Url.Action("Index","Blog")">Blogs</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @(ViewBag.FAQ!=null?"navActive":"")" href="@Url.Action("FAQ","About")">FAQ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @(ViewBag.Contact!=null?"navActive":"")" href="@Url.Action("Index","Contact")">Contact</a>
                                        </li>
                                        @if (user != null)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link @(ViewBag.MyPage!=null?"navActive":"")" href="@Url.Action("MyPage","Home", new { id=user.Id})">My Page</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                @if (user != null)
                                {
                                    <div class="use">
                                        <span><i class="search fas fa-search" style="margin-right: 6px;"></i></span>
                                        <div class="userImage">
                                            <a href="@Url.Action("MyPage","Home",new {id=user.Id })">
                                                <img src="~/Uploads/@user.Photo" alt="">
                                            </a>
                                        </div>
                                        <a href="@Url.Action("Logout","Home")" class="lo"><i class="fas fa-sign-out-alt"></i></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="use">
                                        <span><i class="search fas fa-search"></i></span>
                                        <div class="user">
                                            <a href="#"><i class="far fa-user-circle"></i></a>
                                        </div>
                                    </div>
                                }

                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <div id="navBarRes">
            <span class="bar">
                <img src="~/Front/img/logo2.png" alt="logo">

            </span>
            <div class="menu"><i class="fas fa-bars"></i></div>
        </div>

        <div id="barRes">
            <div class="icons">
                <img src="~/Front/img/logo3.png" alt="logo">
                <i class="far fa-window-close"></i>
            </div>
            @if (user != null)
            {
                <div class="use">
                    <span><i class="search fas fa-search" style="margin-right: 6px;"></i></span>
                    <div class="userImage">
                        <a href="@Url.Action("MyPage","Home",new {id=user.Id })">
                            <img src="~/Uploads/@user.Photo" alt="">
                        </a>
                    </div>
                    <a href="@Url.Action("Logout","Home")" class="lo"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            }
            else
            {
                <div class="use">
                    <span><i class="search fas fa-search"></i></span>
                    <div class="user">
                        <a href="#"><i class="far fa-user-circle"></i></a>
                    </div>
                </div>
            }
            <ul class="des-navbar-nav mr-auto ">
                <li class="des-nav-item">
                    <a class="des-nav-link" href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li class="des-nav-item">
                    <a class="des-nav-link" href="@Url.Action("Index","About")">About Us</a>
                </li>
                <li class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                    Tours
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="wrap">
                                    <a class="dropdown-item" href="@Url.Action("Summer","Tour")">Summer Tours</a>
                                </div>
                                <div class="wrap">
                                    <a class="dropdown-item" href="@Url.Action("Winter","Tour")">Winter Tours</a>
                                </div>
                                <div class="wrap">
                                    <a class="dropdown-item" href="@Url.Action("City","Tour")">City Tours</a>
                                </div>
                                <div class="wrap">
                                    <a class="dropdown-item" href="@Url.Action("Wine","Tour")">Wine Tours</a>
                                </div>
                                <div class="wrap">
                                    <a class="dropdown-item" href="@Url.Action("Exotic","Tour")">Exotic Tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="des-nav-item">
                    <a class="des-nav-link" href="@Url.Action("Destinations","Tour")">Destinations</a>
                </li>
                <li class="des-nav-item">
                    <a class="des-nav-link" href="@Url.Action("Index","Blog")">Blogs</a>
                </li>
                <li class="des-nav-item">
                    <a class="des-nav-link" href="@Url.Action("FAQ","About")">FAQ</a>
                </li>
                <li class="des-nav-item">
                    <a class="des-nav-link" href="@Url.Action("Index","Contact")">Contact</a>
                </li>
                @if (user != null)
                {
                    <li class="des-nav-item">
                        <a class="des-nav-link" href="@Url.Action("MyPage","Home", new { id=user.Id})">My Page</a>
                    </li>
                }
            </ul>
        </div>

        <section id="navSearch">
            <span><i class="far fa-window-close"></i></span>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form action="@Url.Action("Search","Tour")" class="srch">
                    <input type="text" name="search" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            </div>
        </section>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <section class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sunbscribe">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="contacts">
                            <div class="logo">
                                <img src="/Front/img/logo1.png" alt="logo">
                            </div>
                            <p class="text">
                                Lorem ipsum dolor sit ametco nsec te tuer adipiscing elitae
                            </p>
                            <a href="@Url.Action("Index","Contact")" class="detail">
                                <i class="far fa-envelope"></i>
                                <span>setsail@qode.com</span>
                            </a>
                            <a href="@Url.Action("Index","Contact")" class="detail">
                                <i class="fas fa-phone-alt"></i>
                                <span>1 562 867 5309</span>
                            </a>
                            <a href="@Url.Action("Index","Contact")" class="detail">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>Broadway & Morris St, New York</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="recent">
                            <h5 class="title">
                                Check Out Stuff
                            </h5>
                            <a href="@Url.Action("Index","Blog")" class="post">
                                <h6 class="postTitle">Recent Blogs</h6>
                                <h6 class="postDate">From Our Travelers</h6>
                            </a>
                            <a href="@Url.Action("Winter","Tour")" class="post">
                                <h6 class="postTitle">Best Winter Holidays</h6>
                                <h6 class="postDate">Skiing, New Year esc.</h6>
                            </a>
                            <a href="@Url.Action("Wine","Tour")" class="post">
                                <h6 class="postTitle">Wine Festivals</h6>
                                <h6 class="postDate">And Harvey Histories</h6>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="subscribe">
                            <h5 class="title">
                                Subscribe to our Newsletter
                            </h5>
                            <h6 class="text">
                                Lorem ipsum dolor sit ametco nsec te tuer adipiscing elitae
                            </h6>
                            <form action="@Url.Action("Subscribe","Home")" method="post" class="details">
                                <div class="inputs">
                                    <div class="input">
                                        <input type="text" name="sFullname" placeholder="Fullname">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="input">
                                        <input type="email" name="sEmail" placeholder="Email">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                </div>

                                <div class="submit">
                                    <button type="submit">SUBSCRIBE</button>
                                </div>
                                @if (ViewBag.Id != null)
                                {
                                    if (ViewBag.Id is Int32)
                                    {
                                        Model.pdId = ViewBag.Id;
                                        <input type="hidden" name="pdId" value="@Convert.ToInt32(Model.pdId)" />
                                    }
                                }
                                @if (ViewBag.Page != null)
                                {
                                    <input type="hidden" name="Page" value="@Convert.ToString(ViewBag.Page)" />
                                }
                                @if (Session["Subscribed"] != null)
                                {
                                    Session["Subscribed"] = null;

                                    <div class="alert alert-success">
                                        You are Subscribed!
                                    </div>
                                }

                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="instagram">
                            <h5 class="title">
                                Our Instagram
                            </h5>
                            <h6 class="text">
                                Lorem ipsum dolor sit ametco nsec te tuer adipiscing elitae
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="bottom">
                            <p class="bottomtext">Powered by <span> @@ Qode Interactive @DateTime.Now.Year</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @if (user == null)
        {
            <section id="Log">
                <span><i class="far fa-window-close"></i></span>
                <div class="wrapper">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active login" href="#">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link register" href="#">REGISTER</a>
                        </li>
                    </ul>
                    <div class="log">
                        <h4>Sign In Here!</h4>
                        <p>Log into your account in just a few simple steps.</p>
                        <form action="@Url.Action("Login","Home")" method="post" class="inputs">
                            <div class="input">
                                <input type="email" name="lEmail" placeholder="Email">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="input">
                                <input type="password" name="lPassword" placeholder="Password">
                                <i class="fas fa-unlock-alt"></i>
                            </div>

                            @if (ViewBag.Id != null)
                            {
                                if (ViewBag.Id is Int32)
                                {
                                    Model.pdId = ViewBag.Id;
                                    <input type="hidden" name="pdId" value="@Model.pdId" />
                                }
                            }
                            @if (ViewBag.Page != null)
                            {
                                <input type="hidden" name="Page" value="@Convert.ToString(ViewBag.Page)" />
                            }
                            <button type="submit">LOG IN</button>
                        </form>
                    </div>
                    <div class="reg">
                        <h4>Register Now!</h4>
                        <p>Join the SetSail community today & set up a free account.</p>
                        <form action="@Url.Action("Register","Home")" method="post" enctype="multipart/form-data" class="inputs">
                            <div class="input">
                                @Html.TextBoxFor(u => u.RFullname, null, new { @placeholder = "Fullname" })
                                @Html.ValidationMessageFor(u => u.RFullname, null, new { @class = "text-danger" })
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="input">
                                @Html.TextBoxFor(u => u.REmail, null, new { @placeholder = "Enter Email...", @type = "email" })
                                @Html.ValidationMessageFor(u => u.REmail, null, new { @class = "text-danger" })
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="input">
                                @Html.TextBoxFor(u => u.RPhone, null, new { @placeholder = "Enter Phone..." })
                                @Html.ValidationMessageFor(u => u.RPhone, null, new { @class = "text-danger" })
                                <i class="fas fa-phone-alt"></i>
                            </div>
                            <div class="input">
                                @Html.TextBoxFor(u => u.RPassword, null, new { @placeholder = "Enter Password...", @type = "password" })
                                @Html.ValidationMessageFor(u => u.RPassword, null, new { @class = "text-danger", })
                                <i class="fas fa-unlock-alt"></i>
                            </div>
                            <div class="input">
                                @Html.TextBoxFor(u => u.RPhotoFile, null, new {@class="filech", @type = "file" })
                                @Html.ValidationMessageFor(u => u.RPhotoFile, null, new { @class = "text-danger", })
                            </div>
                            <button type="submit">REGISTER</button>
                            @if (ViewBag.Id != null)
                            {
                                if (ViewBag.Id is Int32)
                                {
                                    Model.pdId = ViewBag.Id;
                                    <input type="hidden" name="pdId" value="@Convert.ToInt32(Model.pdId)" />
                                }
                            }
                            @if (ViewBag.Page != null)
                            {
                                <input type="hidden" name="Page" value="@Convert.ToString(ViewBag.Page)" />
                            }
                        </form>
                    </div>
                </div>

            </section>
        }

        <!-- to top-->
        <div id="toTop">
            <div class="toTopWrapper">
                <span>
                    TOP
                </span>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <script src="https://kit.fontawesome.com/2f7f0af2bf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/Front/assets/rating/dist/rating.js"></script>
    <script src="~/Front/js/script.js"></script>
</body>

</html>