@model IEnumerable<SetSail.Models.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>About Page</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BgImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MPImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogsBgImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(item.TopText.Length > 100 ? item.TopText.Substring(0, 100) + "..." : item.Text)
        </td>
        <td>
            @(item.Text.Length > 100 ? item.Text.Substring(0, 100) + "..." : item.Text)
        </td>
        <td>
            <img src="~/Uploads/@item.BgImage" alt="@item.BgImage" height="100"/>
        </td>
        <td>
            <img src="~/Uploads/@item.Image" alt="@item.Image" height="100"/>
        </td>
        <td>
            <img src="~/Uploads/@item.PopImage" alt="@item.PopImage" height="100"/>
        </td>
        <td>
            <img src="~/Uploads/@item.VideoImage" alt="@item.VideoImage" height="100"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Video)
        </td>
        <th>
            <img src="~/Uploads/@item.MPImage" alt="@item.MPImage" height="100" />
        </th>
        <th>
            <img src="~/Uploads/@item.BlogsBgImage" alt="@item.BlogsBgImage" height="100" />
        </th>
        <td>
            @Html.ActionLink("Edit", "Update", new { id=item.Id }) |
            <a href="@Url.Action("Delete","About", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
