@model IEnumerable<SetSail.Models.SummerPage>

@{
    ViewBag.Title = "SummerIndex";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Summer Page</h2>

<p>
    @Html.ActionLink("Create New", "SummerCreate")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopTitle1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.introText1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopTitle2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.introText2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopTitle3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.introText3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopTitle4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.introText4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BestTourName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntroImage1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntroImage2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntroImage3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntroImage4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParallaxImage1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParallaxImage2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopTitle1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.introText1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopTitle2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.introText2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopTitle3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.introText3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopTitle4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.introText4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BestTourName)
        </td>
        <td>
            <img src="~/Uploads/@item.IntroImage1" alt="@item.IntroImage1" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.IntroImage2" alt="@item.IntroImage2" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.IntroImage3" alt="@item.IntroImage3" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.IntroImage4" alt="@item.IntroImage4" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.VideoImage" alt="@item.VideoImage" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.ParallaxImage1" alt="@item.ParallaxImage1" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.ParallaxImage2" alt="@item.ParallaxImage2" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Video)
        </td>
        <td>
            @Html.ActionLink("Edit", "SummerUpdate", new { id=item.Id }) |
            <a href="@Url.Action("SummerDelete","Page", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
