@model IEnumerable<SetSail.Models.WinePage>

@{
    ViewBag.Title = "WineIndex";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Wine Page</h2>

<p>
    @Html.ActionLink("Create New", "WineCreate")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.introTitleImage1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.introTitleImage2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.introTitleImage3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntroImage1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntroImage1s)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntroImage2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntroImage2s)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntroImage3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntroImage3s)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopImage1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopImage2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Glasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Years)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uniques)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sorts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopSlogan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopText1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopText2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopText3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopText4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Uploads/@item.introTitleImage1" alt="@item.introTitleImage1" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.introTitleImage2" alt="@item.introTitleImage2" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.introTitleImage3" alt="@item.introTitleImage3" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.IntroImage1" alt="@item.IntroImage1" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.IntroImage1s" alt="@item.IntroImage1s" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.IntroImage2" alt="@item.IntroImage2" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.IntroImage2s" alt="@item.IntroImage2s" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.IntroImage3" alt="@item.IntroImage3" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.IntroImage3s" alt="@item.IntroImage3s" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.VideoImage" alt="@item.VideoImage" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.PopImage1" alt="@item.PopImage1" height="100" />
        </td>
        <td>
            <img src="~/Uploads/@item.PopImage2" alt="@item.PopImage2" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Glasses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Years)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uniques)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sorts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PopSlogan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PopText1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PopText2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PopText3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PopText4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Video)
        </td>
        <td>
            @Html.ActionLink("Edit", "WineUpdate", new { id=item.Id }) |
            <a href="@Url.Action("WineDelete","Page", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
