@model IEnumerable<SetSail.Models.DesToCat>

@{
    ViewBag.Title = "DesToCatIndex";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Destination with Categories</h2>

<p>
    @Html.ActionLink("Create New", "DesToCatCreate")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Destination.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourCategory.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Destination.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourCategory.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "DesToCatUpdate", new { id=item.Id }) |
            <a href="@Url.Action("DesToCatDelete","Tour", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
