@model IEnumerable<SetSail.Models.Tour>

@{
    ViewBag.Title = "TourImagesIndex";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Tour Images</h2>

<table class="table table-responsive">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourImages)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="display:flex;flex-wrap:wrap">
            @foreach (var image in item.TourImages)
            {
                <img src="~/Uploads/@image.ImageName" alt="@image.ImageName" height="100" />
            }
        </td>
        <td>
            <a href="@Url.Action("TourImagesDelete","Tour", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
