@model SetSail.Models.TourDates

@{
    ViewBag.Title = "TourDatesUpdate";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<form method="post">

    <div class="form-horizontal">
        <h4>Update Tour Dates</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label>Tours</label>
                <select class="form-control" name="TourId">
                    <option value="value">Choose</option>
                    @foreach (var item in ViewBag.Categories)
                    {
                        <option value="@item.Id" @(Model.TourId == item.Id ? "selected" : "")>@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin:0px 0px 10px 12px ">@Model.DateFrom.ToString("dd.MM.yyyy")</div>
                <div style="margin:0px 0px 10px 12px ">Overset The Date Please!</div>
                @Html.TextBoxFor(model => model.DateFroms, new { @class = "form-control datepicker", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.DateFroms, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin:0px 0px 10px 12px ">@Model.DateTo.ToString("dd.MM.yyyy")</div>
                <div style="margin:0px 0px 10px 12px ">Overset The Date Please!</div>
                @Html.TextBoxFor(model => model.DateTos, new { @class = "form-control datepicker", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.DateTos, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TicketsNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TicketsNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TicketsNum, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "TourDatesIndex")
</div>
