@model IEnumerable<SetSail.Models.TourCity>

@{
    ViewBag.Title = "TourCityIndex";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Tour Cities</h2>

<p>
    @Html.ActionLink("Create New", "TourCityCreate")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.History)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Map)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination.Name)
        </td>
        <td>
            @(item.History.Length > 100 ? item.History.Substring(0, 100) + "..." : item.History)
        </td>
        <td>
            @(item.Map.Length > 50 ? item.Map.Substring(0, 50) + "..." : item.Map)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "TourCityUpdate", new { id=item.Id }) |
            <a href="@Url.Action("TourCityDelete","Tour", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
