@model SetSail.Models.WinePage

@{
    ViewBag.Title = "WineUpdate";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<form enctype="multipart/form-data" method="post">

    <div class="form-horizontal">
        <h4>Update Wine Page</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.introTitleImage1File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/@Model.introTitleImage1" alt="Alternate Text" height="100" />
                @Html.TextBoxFor(model => model.introTitleImage1File, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.introTitleImage1File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.introTitleImage2File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/@Model.introTitleImage2" alt="Alternate Text" height="100" />
                @Html.TextBoxFor(model => model.introTitleImage2File, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.introTitleImage2File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.introTitleImage3File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/@Model.introTitleImage3" alt="Alternate Text" height="100" />
                @Html.TextBoxFor(model => model.introTitleImage3File, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.introTitleImage3File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntroImage1File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/@Model.IntroImage1" alt="Alternate Text" height="100" />
                @Html.TextBoxFor(model => model.IntroImage1File, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.IntroImage1File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntroImage1sFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/@Model.IntroImage1s" alt="Alternate Text" height="100" />
                @Html.TextBoxFor(model => model.IntroImage1sFile, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.IntroImage1sFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntroImage2File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/@Model.IntroImage2" alt="Alternate Text" height="100" />
                @Html.TextBoxFor(model => model.IntroImage2File, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.IntroImage2File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntroImage2sFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/@Model.IntroImage2s" alt="Alternate Text" height="100" />
                @Html.TextBoxFor(model => model.IntroImage2sFile, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.IntroImage2sFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntroImage3File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/@Model.IntroImage3" alt="Alternate Text" height="100" />
                @Html.TextBoxFor(model => model.IntroImage3File, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.IntroImage3File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntroImage3sFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/@Model.IntroImage3s" alt="Alternate Text" height="100" />
                @Html.TextBoxFor(model => model.IntroImage3sFile, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.IntroImage3sFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VideoImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/@Model.VideoImage" alt="Alternate Text" height="100" />
                @Html.EditorFor(model => model.VideoImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VideoImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PopImage1File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/@Model.PopImage1" alt="Alternate Text" height="100" />
                @Html.TextBoxFor(model => model.PopImage1File, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.PopImage1File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PopImage2File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/@Model.PopImage2" alt="Alternate Text" height="100" />
                @Html.TextBoxFor(model => model.PopImage2File, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.PopImage2File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Glasses, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Glasses, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Glasses, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Years, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Years, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Years, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Uniques, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Uniques, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Uniques, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sorts, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sorts, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sorts, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PopSlogan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PopSlogan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PopSlogan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PopText1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PopText1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PopText1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PopText2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PopText2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PopText2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PopText3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PopText3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PopText3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PopText4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PopText4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PopText4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Video, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "WineIndex")
</div>
