@model SetSail.ViewModels.VmMyPage
@using SetSail.Models;
@{
    ViewBag.Title = "MyPage";
}


<section id="introMypage" style="background-image: url(/Uploads/@Model.About.MPImage);">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="slogan">
                    <div class="upperTitle">
                        <h3>
                            Welcome
                        </h3>
                    </div>
                    <div class="title">
                        <h1>
                            @Model.User.Fullname
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="myPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <form action="@Url.Action("UserUpdate","Home")" enctype="multipart/form-data" method="post" class="personal">
                    <h2>Personal Information</h2>
                    <div class="item">
                        <h4>Your Name</h4>
                        @*@Html.HiddenFor(model => model.User.Id)*@
                        <div class="detail">
                            <h6>@Model.User.Fullname</h6>
                            @Html.HiddenFor(model => model.User.Fullname)
                        </div>
                    </div>
                    <div class="item">
                        <h4>Your Email</h4>
                        <div class="detail email">
                            <h6>@Model.User.Email</h6>
                        </div>
                        <p>Wanna Edit Email?</p>
                        <div class="edit">
                            @Html.TextBoxFor(model => model.User.Email)
                            @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item">
                        <h4>Your Phone</h4>
                        <div class="detail">
                            <h6>@Model.User.Phone</h6>
                        </div>
                        <p>Wanna Edit Phone Number?</p>
                        <div class="edit Phone">
                            @Html.TextBoxFor(model => model.User.Phone)
                            @Html.ValidationMessageFor(model => model.User.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item">
                        <div class="detail">
                            <h6>Change Password</h6>
                        </div>
                        <div class="edit">
                            <input type="password" name="Password" placeholder="Enter New Password" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="detail">
                            <img src="~/Uploads/@(Model.User.Photo!=null?Model.User.Photo:"")">
                        </div>
                        <p>Wanna Change Your Image?</p>
                        <div class="edit">
                            @Html.TextBoxFor(model => model.PhotoFile, new { @class="centered", @type = "file" })
                            @Html.ValidationMessageFor(model => model.PhotoFile, "", new { @class = "text-danger" })
                        </div>
                        <input type="hidden" name="userId" value="@Model.User.Id" />
                        <button type="submit" value="UserUpdate">Update</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="myBlogs">
                    <div class="title">
                        <h2>Your Blogs</h2>
                        <a href="@Url.Action("Create","Blog")">Create New Blog</a>
                    </div>
                    @foreach (var blog in Model.Blogs.Where(b => b.UserId == Model.User.Id))
                    {
                        <div class="blog">
                            <h6>@blog.Name</h6>
                            <a href="@Url.Action("Delete","Blog",new { id=blog.Id})" onclick="return confirm('Are you sure?')">Delete Blog</a>
                            <a href="@Url.Action("Update","Blog",new { id=blog.Id})">Edit Blog</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>


