@model SetSail.ViewModels.VmMyPage
@{
    ViewBag.Title = "MyPage";
}


<section id="introMypage" style="background-image: url(/Uploads/@Model.About.MPImage);">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="slogan">
                    <div class="upperTitle">
                        <h3>
                            Welcome
                        </h3>
                    </div>
                    <div class="title">
                        <h1>
                            @Model.User.Fullname
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="myPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <form class="personal" method="post" enctype="multipart/form-data" action="@Url.Action("UserUpdate","Home")">
                    <h2>Personal Information</h2>
                    <div class="item">
                        <h4>Your Name</h4>
                        <div class="detail">
                            <h6>@Model.User.Fullname</h6>
                            @Html.TextBoxFor(u => u.User.Fullname, null, new {@type="hidden"})
                            @Html.ValidationMessageFor(u => u.User.Fullname, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item">
                        <h4>Your Email</h4>
                        <div class="detail email">
                            <h6>@Model.User.Email</h6>
                        </div>
                        <p>Wanna Edit Email?</p>
                        <div class="edit Email">
                            @Html.TextBoxFor(u => u.User.Email, null, new { @placeholder = "Enter Email..." })
                            @Html.ValidationMessageFor(u => u.User.Email, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item">
                        <h4>Your Phone</h4>
                        <div class="detail phone">
                            <h6>@Model.User.Phone</h6>
                        </div>
                        <p>Wanna Edit Phone Number?</p>
                        <div class="edit Phone">
                            @Html.TextBoxFor(u => u.User.Phone, null, new { @placeholder = "Enter Phone..." })
                            @Html.ValidationMessageFor(u => u.User.Phone, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item">
                        <div class="detail password">
                            <h6>Change Password</h6>
                        </div>
                        <div class="edit Pass changePassword">
                            <input type="password" name="Password" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="detail image">
                            @if (Model.User.Photo != null)
                            {
                                <img src="~/Uploads/@(Model.User.Photo!=null?Model.User.Photo:"")">
                            }
                            else
                            {
                                <img src="~/Front/img/mypage/User.jpg" alt="img">
                            }
                        </div>
                        <p>Wanna Change Your Image?</p>
                        <div class="edit upload">
                            @Html.TextBoxFor(u => u.User.PhotoFile, new { @class = "centered", @type = "file" })
                            @Html.ValidationMessageFor(u => u.User.PhotoFile, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" name="Update"> Update</button>
                    </div>
                    
                </form>
                <form class="personal" method="post" action="@Url.Action("UserSocialCreate","Home")">
                    <div class="item">
                        <h4>Your Twitter Link</h4>
                        <div class="detail">
                            @if (Model.UserSocials.Any(s => s.Link.Contains("twitter")))
                            {
                                <h6>@Model.UserSocials.FirstOrDefault(s => s.Link.Contains("twitter")).Link</h6>
                            }
                            else
                            {
                                <h6>Your Link Is Empty</h6>
                            }

                        </div>
                        <p>Change Link?</p>
                        <div class="edit">
                            <input type="text" name="Link" placeholder="Enter Your Insta Link">
                        </div>
                        @if (!Model.UserSocials.Any(u => u.Link.Contains("twitter")))
                        {
                            <button type="submit" name="Create">Save</button>
                        }
                        else
                        {
                            <a href="@Url.Action("UserSocialUpdate","Home",new { SocialId=Model.UserSocials.FirstOrDefault(s => s.Link.Contains("twitter")).Id})">Update Twitter Link</a>
                            <a href="@Url.Action("UserSocialDelete","Home",new { SocialId=Model.UserSocials.FirstOrDefault(s => s.Link.Contains("twitter")).Id})">Delete Twitter Link</a>
                        }

                    </div>
                </form>
                <form class="personal" method="post" action="@Url.Action("UserSocialCreate","Home")">
                    <div class="item">
                        <h4>Your Pinterest Link</h4>
                        <div class="detail">
                            @if (Model.UserSocials.Any(s => s.Link.Contains("pinterest")))
                            {
                                <h6>@Model.UserSocials.FirstOrDefault(s => s.Link.Contains("pinterest")).Link</h6>
                            }
                            else
                            {
                                <h6>Your Link Is Empty</h6>
                            }
                        </div>
                        <p>Change Link?</p>
                        <div class="edit">
                            <input type="text" name="Link" placeholder="Enter Your Pin Link">
                        </div>
                        @if (!Model.UserSocials.Any(u => u.Link.Contains("pinterest")))
                        {
                            <button type="submit" name="Create">Save</button>
                        }
                        else
                        {
                            <a href="@Url.Action("UserSocialUpdate","Home",new { SocialId=Model.UserSocials.FirstOrDefault(s => s.Link.Contains("pinterest")).Id})">Update Twitter Link</a>
                            <a href="@Url.Action("UserSocialDelete","Home",new { SocialId=Model.UserSocials.FirstOrDefault(s => s.Link.Contains("pinterest")).Id})">Delete Twitter Link</a>
                        }

                    </div>
                </form>
                <form class="personal" method="post" action="@Url.Action("UserSocialCreate","Home")">
                    <div class="item">
                        <h4>Your Facebook Link</h4>
                        <div class="detail">
                            @if (Model.UserSocials.Any(s => s.Link.Contains("facebook")))
                            {
                                <h6>@Model.UserSocials.FirstOrDefault(s => s.Link.Contains("facebook")).Link</h6>
                            }
                            else
                            {
                                <h6>Your Link Is Empty</h6>
                            }
                        </div>
                        <p>Create/Change Link?</p>
                        <div class="edit">
                            <input type="text" name="Link" placeholder="Enter Your Face Link">
                        </div>
                        @if (!Model.UserSocials.Any(u => u.Link.Contains("facebook")))
                        {
                            <button type="submit" name="Create">Save</button>
                        }
                        else
                        {
                            <a href="@Url.Action("UserSocialUpdate","Home",new { SocialId=Model.UserSocials.FirstOrDefault(s => s.Link.Contains("facebook")).Id})">Update Twitter Link</a>
                            <a href="@Url.Action("UserSocialDelete","Home",new { SocialId=Model.UserSocials.FirstOrDefault(s => s.Link.Contains("facebook")).Id})">Delete Twitter Link</a>
                        }
                    </div>
                </form>
                <form class="personal" method="post" action="@Url.Action("UserSocialCreate","Home")">
                    <div class="item">
                        <h4>Your Instagram Link</h4>
                        <div class="detail">
                            @if (Model.UserSocials.Any(s => s.Link.Contains("instagram")))
                            {
                                <h6>@Model.UserSocials.FirstOrDefault(s => s.Link.Contains("instagram")).Link</h6>
                            }
                            else
                            {
                                <h6>Your Link Is Empty</h6>
                            }
                        </div>
                        <p>Create/Change Link?</p>
                        <div class="edit">
                            <input type="text" name="Link" placeholder="Enter Your Insta Link">
                        </div>
                        @if (!Model.UserSocials.Any(u => u.Link.Contains("instagram")))
                        {
                            <button type="submit" name="Create">Save</button>
                        }
                        else
                        {
                            <a href="@Url.Action("UserSocialUpdate","Home",new { SocialId=Model.UserSocials.FirstOrDefault(s => s.Link.Contains("instagram")).Id})">Update Twitter Link</a>
                            <a href="@Url.Action("UserSocialDelete","Home",new { SocialId=Model.UserSocials.FirstOrDefault(s => s.Link.Contains("instagram")).Id})">Delete Twitter Link</a>
                        }
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="myBlogs">
                    <div class="title">
                        <h2>Your Blogs</h2>
                        <a href="@Url.Action("Create","Blog")">Create New Blog</a>
                    </div>
                    @foreach (var blog in Model.Blogs.Where(b => b.UserId == Model.User.Id))
                    {
                        <div class="blog">
                            <h6>@blog.Name</h6>
                            <a href="@Url.Action("Delete","Blog",new { id=blog.Id})" onclick="return confirm('Are you sure?')">Delete Blog</a>
                            <a href="@Url.Action("Update","Blog",new { id=blog.Id})">Edit Blog</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>


