@model SetSail.Models.TeamSocial

@{
    ViewBag.Title = "TeamSocialCreate";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<form method="post">

    <div class="form-horizontal">
        <h4>Create Team Social Networks</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label>Team Member</label>
                <select class="form-control" name="TeamId">
                    <option value="value">Choose</option>
                    @foreach (var item in ViewBag.Categories)
                    {
                        <option value="@item.Id">@item.Fullname</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Icon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Icon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Icon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "TeamSocialIndex")
</div>
