@model SetSail.ViewModels.VmContact
@{
    ViewBag.Title = "Index";
}

<section id="Map">
    <iframe src="@Model.Contacts.FirstOrDefault().Map"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
</section>

<secition id="findUs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="text">
                    <h2>Contact Us Now</h2>
                    <h6>
                        Si elit omnes impedit ius, vel et hinc agam fabulas. Ut audiam invenire iracundia vim.
                        Tn eam dimo diam ea. Piber Korem sit amet.
                    </h6>
                    <p>
                        Al elit omnes impedit ius, vel et hinc agam fabulas. Ut audiam invenire iracundia vim.
                        En eam dico similique, ut sint posse sit, eum sumo diam ea. Liber consectetuer in mei,
                        sea in imperdiet assue verit contentio nes, an his cibo blandit tacimates. Iusto iudi
                        cabit sim ilique id velex, in sea rebum deseruisse appellantur. Etiam rhoncus. Maec enas
                        tempus, tellus eget condimentum rhoncus.Aliquam lorem ante, dapibus in, viverra quis,
                        feugiat
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="pic">
                    <img src="~/Front/img/contact/contact.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</secition>

<section id="Contacts">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.Contacts)
            {
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="con">
                        <h3 class="title">
                            @item.ContactCity.Name
                        </h3>
                        <p class="text">
                            @item.Text
                        </p>
                        <a href="#" class="detail">
                            <i class="far fa-envelope"></i>
                            <span>@item.Email</span>
                        </a>
                        <a href="#" class="detail">
                            <i class="fas fa-phone-alt"></i>
                            <span>@item.Phone1</span>
                        </a>
                        <a href="#" class="detail">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>@item.Address</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@if (Session["User"] != null)
{
    <section id="Reply">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <form action="@Url.Action("ContactReply","Contact")" class="reply" method="post">
                        <h1 class="title">
                            Leave A Reply
                        </h1>
                        <div class="input-group hei">
                            <i class="far fa-comments"></i>
                            <textarea class="form-control" style="color:white;" type="text" name="Message"  placeholder="Message*" required></textarea>
                        </div>
                        <div class="wrap">
                            <div class="input-group">
                                <i class="far fa-envelope"></i>
                                <input class="form-control" type="email" name="Email"  placeholder="Email*" required>
                            </div>
                            <div class="input-group">
                                <i class="fas fa-user"></i>
                                <input class="form-control" type="text" name="Fullname" placeholder="Fullname*" required>
                            </div>
                        </div>
                        <input type="hidden" name="UserId" value="@Session["UserId"]" />

                        <button class="btn" type="submit">SEND</button>
                        @if (Session["ReplySent"] != null)
                        {
                            Session["ReplySent"] = null;

                            <div class="alert alert-success">
                                You Sent  Reply!
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </section>
}


